%section
  %h1= page.title

  = form_tag(main_app.email_signups_path, :method => :post, :html => {:class => 'form-horizontal'}) do
    .field
      = label_tag :'email_signup[name]', "Name", :class => 'control-label'
      = text_field_tag :'email_signup[name]', nil, :placeholder => 'Name'

    .field
      = label_tag :'email_signup[email]', "Email", :class => 'control-label'
      = text_field_tag :'email_signup[email]', nil, :placeholder => 'Email'

    .actions
      = submit_tag "Sign up", :class => 'btn'

%aside
  %p
    Sign up to stay up to date on what is happening in Afterburner CMS
